.background{
	margin: 30px;
	padding:20px;
}
.topnav a{
	display: inline;
	text-transform: uppercase;
	margin: 2px;
	padding: 10px;

}
.public{
	text-transform: uppercase;
	text-align: center;
	margin: 20px;
}
#info{
	text-align: center;
	border:2px solid black;
	margin: 20px;
	padding: 20px;
}
h2{
	font-size: 20px;
	padding: 5px; 
	margin: 5px;
}
.address{
	font-size: 20px;
	padding: 5px; 
	margin: 5px;
}
.left2{
	width: 300px;
	height:275px;
	float:left;
}
.nav{
	list-style-type: none;
	margin-top: 25px;
}
.nav a{
	display: block;
	text-align: left;
	text-transform: uppercase;
	padding: 10px;
	width: 150px;
	font-size: 22px;
	margin:2px;
}
h3{
	display: inline;
	font-size: 18px;
}
h4{
	display: block;
	font-size: 14px;
	margin: 20px;
}
#box{
	margin-left:25px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-top: 25px;
	padding: 20px;
	border: 2px solid black;
	position: relative;
	border-radius: 30px;
}
.right2{
	height:275px;
	width: 700px;
	float:left;
}
.h4{
	float:left;
}
.sub{
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	height: 100%;
	width: 100%;
	overflow: auto;
	color: #5b391e;
	border-radius: 30px;
}
ul{
	list-style-type: none;
}
#experience{
	background-color: #1abdc6;
	z-index: -1;
	font-size: 20px;
}
#skills{
	background-color: #1abdc6;
	position: absolute;
	padding: 20px;
	height:275px;
	width: 700px;
	font-size: 22px;
	z-index: -1;
}
#education{
	background-color: #1abdc6;
	font-size: 20px;
	z-index: -1;
}
.left3{
	width: 400px;
	height:300px;
	margin: 50px;
	float:left;
}
textarea{
	height: 200px;
	width: 350px;
	overflow:scroll;
}
.middle{
	float: left;
	width:250px;
	height: 300px;
	margin: 50px
}
.interview{
	font-size: 24px;
	margin-top: 50px;
}
#experience:target, #education:target, #skills:target, #references:target{
	z-index: 2;
}
.schoolName{
	border: 2px solid black;
	margin: 30px;
	padding: 2px;
	font-size: 16px;
}
.education{
	margin: 20px;
	padding: 5px
}
.gpa{
	margin-top: 20px;
}
.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}